      body {
        background: var(--color-bg);
        color: var(--color-text);
        transition: background 0.5s ease, color 0.5s ease;
      }

      body.dark {
        --color-bg: #000000;
        --color-text: #ffffff;
        --color-subText: #aaaaaa;
        --color-line: #333333;
      }

      /* ========================= Header ========================= */
      /* ========================= Header ========================= */
      /* ========================= Header ========================= */
      /* ========================= Header ========================= */
      /* ========================= Header ========================= */
      /* ========================= Header ========================= */
      /* ========================= Header ========================= */
      .container {
        padding: 0 clamp(0.75rem, 3vw, 1.5rem);
      }
      
      /* ========================= Header Top ========================= */
      /* ========================= Header Top ========================= */
      /* ========================= Header Top ========================= */
      .header-top {
        position:relative;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:var(--space-clamp-top);
      }

      h1 {
        font-family: 'montserrat', sans-serif;
        font-size: clamp(var(--text-md), 5vw, 2.125rem);
        font-weight:700;
        letter-spacing:1px;
        line-height:1;
      }

      #date-time {
        font-family: monospace;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: var(--text-clamp-sm);
      }

      /* #date-time {
        font-family: monospace;
        display:block;
        font-size:var(--text-clamp-sm);
      } */

      #date,
      #time {
        display:flex;
        justify-content:flex-end;
        gap:0.5rem;
      }

      #date {
        margin:0 0 0.125rem 0; 
      }

      #time {
        color:var(--color-subText);
      }

      .colon {
        animation: blink 1s steps(1) infinite;
      }
      
      @keyframes blink {
        50% {
          opacity: 0;
        }
      }

      /* ========================= Header Bottom ========================= */
      /* ========================= Header Bottom ========================= */
      /* ========================= Header Bottom ========================= */
      .header-bottom {
        display:flex;
        position:relative;
        padding:0 0 var(--space-clamp-sm) 0;
      }

      .header-bottom::after {
        content:'';
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        height:1px;
        background:var(--color-line);
      }

      /* ========================= Navigation Gnb ========================= */
      /* ========================= Navigation Gnb ========================= */
      /* ========================= Navigation Gnb ========================= */
      .gnb {
        display:flex;
        justify-content:space-between;
        width:100%;
      }

      .gnb ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap:var(--space-clamp-sm);
        width:100%;
      }

      .gnb li {
        /* height:var(--space-clamp-sm); */
      }
      
      .gnb li.location {
        display: none;
      }

      .gnb li a {
        display:block;
        font-size:var(--text-clamp-sm);
        letter-spacing:1px;
        line-height:1;
        color:var(--color-text);
      }

      .gnb li.location span {
        display:block;
        font-size:var(--text-clamp-sm);
        letter-spacing:1px;
        line-height:1;
      }

      .option {
        /* position:relative; */
        font-size:0;
        height:var(--space-clamp-sm);
      }

      .color-option {
        display:flex;
        align-items:center;
        gap:var(--space-clamp-lg);
        position:relative;
        margin:0 0 var(--space-clamp-sm) 0;
      }

      .color-option::after {
        content:'';
        position:absolute;
        top:50%;
        left:48.5%;
        width:1px;
        height:10px;
        transform:translate(-50%, -50%) rotate(17.5deg);
        background:var(--color-text);
      }

      .color-option button {
        font-size:var(--text-clamp-sm);
      }

      .lang-option {
        position:absolute;
        /* top:calc(100% + clamp(0.5rem, 2vw, )); */
        top: calc(100% + clamp(0.5rem, calc(0.364rem + 0.602vw), 0.75rem));
        right:0;
        display:flex;
        gap:14px;
      }

      .lang-option button {
        font-size:var(--text-clamp-sm);
        letter-spacing:1px;
        line-height:1;
      }

      
    /* ========================= Section ========================= */
    /* ========================= Section ========================= */
    /* ========================= Section ========================= */
    /* ========================= Section ========================= */
    /* ========================= Section ========================= */
    /* ========================= Section ========================= */
    /* ========================= Section ========================= */
      /* Section */
      .section_latest {
        padding:6.25rem 0 0 0;
      }

      .latest-header {
        position:relative;
        --latest-header-row-height: 20px;
        padding:0 0 3.25rem 0;
      }

      /* .latest-header::after {
        content:'';
        position:absolute;
        top:1.5rem;
        left:0;
        width:100%;
        height:1px;
        background:var(--color-line);
      } */

      .latest-header div {
        position:relative;
        display:flex;
        justify-content: flex-end;
      }

      .latest-header div::after {
        content:'';
        position:absolute;
        top:130%;
        left:0;
        width:100%;
        height:1px;
        background:var(--color-line);
      }

      .latest-header h2 {
        order:1;
        padding:0 0 0 4px;
        font-size:1.0625rem;
        font-weight:500;
        letter-spacing:1px;
        line-height:1;
        /* text-indent:.375rem; */
        /* padding-bottom:1.625rem; */
        /* margin-bottom:4.75rem; */
        color:var(--color-text);
      }

      .latest-header span.numb {
        order:2;
        font-family:'montserrat';
        font-size:1.656rem;
        line-height:1;
      }

      /* .latest-header a.View {
        position:absolute;
        top:calc(var(--latest-header-row-height) * 1.6);
        right:.375rem;
        font-size:.75rem;
      } */


      /* 전체 레이아웃 */
      .latest-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: clamp(3rem, 4vw, 4rem);
      }

      /* ===== Featured ===== */
      .latest-left {
        position: relative;
      }

      .latest-left a {
        display: block;
        color: inherit;
        text-decoration: none;
      }

      .featured-image {
        position: relative;
        aspect-ratio: 3 / 4;
        overflow: hidden;
        background: #eee;
      }

      .featured-image img {
        /* display: block; */
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      /* 그라데이션 */
      .featured-image::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(
          to top,
          rgba(0,0,0,0.75),
          rgba(0,0,0,0.2),
          transparent
        );
      }

      /* 텍스트 */
      .featured-content {
        position:absolute;
        left:0;
        bottom:0;

        padding:0 clamp(2rem, 4vw, 2.625rem) clamp(2.625rem, 4vw, 2.5rem);
        color:#fff;
      }

      .featured-content .category {
        font-size:1rem;
        letter-spacing:1.5px;
        /* text-indent:1.25rem; */
        /* opacity:.8; */
        padding:0 0 .875rem;
        color:rgba(255,255,255,.7);
      }

      .featured-content .title {
        font-size: clamp(1.375rem, 4vw, 2.6rem);
        font-weight: 600;
        letter-spacing:1px;
        line-height:1;
        padding-bottom: .75rem;
      }

      .featured-content .description {
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
        overflow: hidden;        
        max-width:100%;
        font-size: 1rem;
        line-height:1.5rem;
        opacity: .9;
      }

      /* ===== Side List ===== */
      .latest-right {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
      }

      .side-item {
        display: flex;
        gap: 1rem;
        align-items: stretch;
      }

      .side-item a {
        display: flex;
        /* justify-content:space-between; */
        gap: 1.25rem;
        align-items:flex-start;
        /* color: inherit; */
      }

      /* 썸네일 */
      .thumb {
        width:6.25rem;
        /* aspect-ratio:1 / 1; */
        height:6.25rem;
        flex-shrink:0;
      }

      .thumb img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
      }

      /* 텍스트 */
      .side-item-content {
        flex: 1;
        /* height:6.25rem; */
      }

      .side-item .category {
        font-size: 0.75rem;
        letter-spacing: 1px;
        color: var(--color-subText);
        padding: 0 0 .625rem 0;
      }

      .side-item .author {
        display:flex;
        gap:5px;
        padding:0 0 .375rem 0;
        /* height:12px; */
      }

      .side-item .author span {
        display:inline-block;
        font-size:.625rem;
        font-weight:300;
        line-height:1;
        color:var(--color-subText);
        opacity:.9;
      }

      .side-item h3 {
        font-size: .9375rem;
        font-weight: 300;
        line-height:1;
        padding:0 0 .4375rem 0;
        color: var(--color-text);

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .side-item p {
        display:-webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical;
        overflow:hidden;
        font-size: 1rem;
        color: var(--color-subText);
        line-height: 1.25rem;
      }

      /* Tablet Height (768px 이상) ------------------------------------------------------------------------- */
      @media (min-width: 768px) {
        /* Header */
        .header-top {}

        .header-top {
          font-family:'montserrat', sans-serif;
          font-size: clamp(var(--text-md), 5vw, 2.125rem);
          font-weight:700;
        }

        #date,
        #time {
          justify-content:space-between;
          gap:0;
          min-width:100px;
        }
        #date {
          margin:0 0 0.25rem 0;
        }
        .gnb ul {
          grid-template-columns: repeat(3, auto);
        }
        .gnb li.location {
          display: block;
        }

        /* Section */
        .section_latest {
          padding:9.5rem 0 0 0;
        }

        .latest-header { 
          padding:0 0 4.75rem 0;
        }

        .latest-header h2 { 
          padding:0 0 0 6px;
          font-size:1.1875rem;
        }

        .latest-header span.numb {
          font-size:2.25rem;
        }

        .latest-right {
          display: none;
        }
      
        .latest-content {
          grid-template-columns: 1fr;
        }

      }

      /* Tablet Landscape ---------------------------------------------------------------------------------- */
      @media (min-width: 1024px) and (orientation: landscape) {
        #date {
          margin:0 0 .375rem 0;
        }
      }

      /* Desktop ------------------------------------------------------------------------------------------- */
      @media (min-width: 1024px) and (max-width: 1440px) and (orientation: landscape) {
        /* Header */
        .gnb li.location {
          height:14px;
        }
        
        .gnb li.location a {
          display:inline-block;
          margin:0 .1875rem 0 0;
        }
        .gnb li.location span {      
          display:inline-block;
          margin:0 0 0 .1875rem;
        }

        /* section */
        .section_latest {
          padding:12.5rem 0 0 0;
        }


        .latest-header {
          --latest-header-row-height: 30px;
        }


        .latest-header span.numb {  
          font-size:3.25rem;
        }

        .latest-header h2 {
          padding:0 0 0 4px;
          font-size:2.75rem;
          font-weight:700;
          line-height:52px;
          color:#000;
        }

        .latest-header a.view {
          top:calc(var(--latest-header-row-height) * 1.6);
          font-size:1rem;
        }

        .latest-cards {
          display:none;
        }

        .latest-content {
          grid-template-columns: 1fr 1fr;
          gap: clamp(2rem, 3vw, 3rem);
          align-items: start;
        }
        
        .featured-image {
          aspect-ratio: 12 / 9;
        }
      
        .featured-content {
          padding: clamp(1.5rem, 2vw, 2.5rem);
        }
      
        .side-item h3 {
          font-size: 1.1rem;
        }
      }
